{% extends 'setupevent/base.html' %}
{% block header %}  <li><a href="{% url 'setupevent:add_event' %}" class="nav-link px-2 link-secondary ">Add event</a></li>{% endblock %}
{% block content %}
<h2 style="color:#40a798;">Welcome {{ username }}</h2>
<h1>Events</h1>
{% for e in event %}
  
  <div class="card" style="width: 300px; display:inline-block; margin:10px ; ">
    <p class="card-img-top" style="background-color:rgb(245, 245, 245); text-align: center; font-size: 20px; font-family: Lucida Console;"> {{ e.name }}  </p>
    <div class="card-body">
      <p class="card-text"> Date : {{ e.date }} </p>
      <p class="card-text"></p> place: {{ e.place }}</p>
      <a href="{% url 'setupevent:event_details' e.id %}" class="card-link"><button type="button" class="btn" style="margin-left: 150px; background-color:#e7e7e7;">view details</button></a>
    </div>
  </div>


  {% endfor %}
{% endblock %}